h1,h2 {
	font-family: 'Avenir Next';
	text-align: center;
}

h1 {
	font-size: 80px;
	font-family: 'Avenir Next';
	text-align: center;
	margin-top: 180px;
	letter-spacing: 0.9em;
	text-indent: 0.9em;
	font-weight:;
	color: #3F3F3F;
}

h2 {
	font-size: 28px;
	color: #7E7E7E;
	letter-spacing: 0.2em;
	text-indent: 0.2em;
	font-weight: thin;
	margin-top: 10px;
}

img {
	width: 38px;
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
}

.icons {
	text-align: center;
}
.container {
	max-width: 960px;
}

