/*GENERAL DEFAULTS*/

h1,h2 {
	font-family: 'Avenir Next';
	text-align: center;
}

p {
	font-family: 'Avenir Next';
}

h1 {
	font-size: 80px;
	font-family: 'Avenir Next';
	text-align: center;
	margin-top: 180px;
	letter-spacing: 0.9em;
	text-indent: 0.9em;
	font-weight:;
	color: #3F3F3F;
}

h2 {
	font-size: 28px;
	color: #7E7E7E;
	letter-spacing: 0.2em;
	text-indent: 0.2em;
	font-weight: thin;
	margin-top: 10px;
}

h3 {
	font-family: 'Avenir Next';
}

h4 {
	font-family: 'Avenir Next';
}

img {
	width: 38px;
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
}

a:hover, a:focus {
	text-decoration: none;
}

/*RECTANGLES*/

.completum-rectangle, .gf-rectangle {
	background: #000000;
	width: 95%;
	height: 20px;
	-webkit-transition: height 1s;
    transition: height 1s;
}

.completum-rectangle:hover, .completum-rectangle:focus, .completum-rectangle:active, .gf-rectangle:hover, .gf-rectangle:focus, .gf-rectangle:active {
	height: 250px;
}

.completum-description,.gf-description {
	color: #FFF;
	font-size: 16px;
	opacity: 0;
	z-index: 2;
	position: absolute;
	margin: 20px 30px 0px 0px;
	pointer-events: none;
	-webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.completum-rectangle:hover .completum-description, .gf-rectangle:hover .gf-description {
	opacity: 1;
}

/*RECTANGLE BADGES*/

.completum-link{
	width: 50%;
	height: 65px;
	position: absolute;
	z-index: 2;
	opacity: 0;
	display: block;
	margin-top: 130px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	pointer-events: none;
	-webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.gf-link {
	width: 50%;
	height: 45px;
	position: absolute;
	z-index: 2;
	opacity: 0;
	display: block;
	margin-top: 130px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	pointer-events: none;
	-webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.completum-rectangle:hover .completum-link, .gf-rectangle:hover .gf-link {
	opacity: 1;
	pointer-events: auto;
	/*HOVER IN TRANSITION*/
	-webkit-transition: opacity 1.8s ease-in-out;
    transition: opacity 1.8s ease-in-out;
}

/*RECTANGLE IMAGES*/

.completum-img{
	width: 90%;
	height: 200px;
	opacity: 0;
	z-index: 2;
	position: absolute;
	margin: 20px 0px 20px 20px;
	pointer-events: none;
	/*HOVER OUT TRANSITION*/
	-webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.gf-img {
	width: 85%;
	height: 215px;
	opacity: 0;
	z-index: 2;
	position: absolute;
	margin: 20px 0px 20px 20px;
	pointer-events: none;
	/*HOVER OUT TRANSITION*/
	-webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.completum-rectangle:hover .completum-img, .gf-rectangle:hover .gf-img {
	opacity: 1;
	/*HOVER IN TRANSITION*/
	-webkit-transition: opacity 1.8s ease-in-out;
    transition: opacity 1.8s ease-in-out;
}

/*GF TITLE*/

.gf-title {
	margin-top: 10px;
	margin-right: 50px;
	pointer-events: none;
}

/*MISC*/

.icons {
	text-align: center;
}

.container {
	max-width: 960px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 550px) {
	h1 {
		letter-spacing: 0.2em;
		text-indent: 0.2em;
	}
	.container {
		max-width: 525px;
	}
	.completum-rectangle, .gf-rectangle {
		background: #000000;
		width: 95%;
		height: 310px;
	}
	.completum-description {
		font-size: 15px;
		margin: 150px 20px 20px 20px;
		text-align: center;
		opacity: 1;
	}
	.completum-link {
		margin-top: 235px;
		margin-left: auto;
		margin-right: auto;
		opacity: 1;
	}
	.completum-img {
		width: 80%;
		height: 120px;
		margin: 10px;
		margin-top: 20px;
		margin-left: 25px;
		opacity: 1;
	}

	.gf-description {
		font-size: 15px;
		margin: 160px 20px 20px 20px;
		text-align: center;
		opacity: 1;
	}
	.gf-link {
		margin-top: 250px;
		margin-left: auto;
		margin-right: auto;
		opacity: 1;
	}
	.gf-img {
		width: 80%;
		height: 135px;
		margin: 10px;
		margin-top: 20px;
		margin-left: 25px;
		opacity: 1;
	}
	.completum-rectangle:hover, .completum-rectangle:focus, .completum-rectangle:active, .gf-rectangle:hover, .gf-rectangle:focus, .gf-rectangle:active {
		height: 310px;
	}
}
